.grid {
  display: grid;
  grid-template-columns: 450px 1000px;
}
.grid div {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 0em;
}
.grid div h1 {
  padding: 0em;
  padding-top: 51vh;
}
.proyecto1 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.proyecto1 div {
  padding-top: 1em;
  padding-left: 0em;
  padding-bottom: 1em;
}
.proyecto1 div h3 {
  padding-left: 1em;
  padding-top: 35vh;
}
.proyecto2 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.proyecto2 div {
  padding-top: 1em;
  padding-left: 0em;
  padding-bottom: 1em;
}
.proyecto2 div h3 {
  padding-left: 1em;
  padding-top: 35vh;
}
.proyecto3 {
  display: grid;
  grid-template-columns: 20% 80%;
}
.proyecto3 div {
  padding-top: 1em;
  padding-left: 0em;
  padding-bottom: 1em;
}
.proyecto3 div h3 {
  padding-left: 1em;
  padding-top: 35vh;
}
.info {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.info div {
  padding-top: 1xs0vh;
  justify-content: space-around;
}
.asterisco3 {
  display: grid;
  grid-template-rows: 25% 50% 25%;
}
.asterisco3 .imagen-ast-contacto {
  padding-top: 2vh;
  justify-content: space-around;
}
