/* General Styles */
@font-face {
  font-family: "Neue Haas Display";
  src: url("./fonts/Neue-Haas-Display.woff2") format("woff2"),
    url("./fonts/Neue-Haas-Display.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Neue Haas Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #381a06;
  padding: 1rem;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.sobre-mi {
  text-align: center;
  padding: 2rem;
}

.sobre-mi img {
  width: 50%;
  height: 50%;
  border-radius: 0%;
}

.sobre-mi h1 {
  font-size: 2rem;
  color: #381a06;
}

.proyectos {
  padding: 2rem;
}

.proyectos h2 {
  text-align: center;
  color: #381a06;
  font-size: 2rem;
}

.proyecto {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imagen-proyecto {
  background-color: #ccc;
  width: 100px;
  height: 100px;
}

.contacto {
  background-color: #381a06;
  color: white;
  text-align: center;
  padding: 2rem;
}

.contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacto ul li {
  margin-bottom: 0.5rem;
}

.contacto p {
  font-size: 0.9rem;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 480px) {
  header {
    padding: 1.5rem;
  }

  nav ul li a {
    font-size: 0.9rem;
  }

  .sobre-mi h1 {
    font-size: 1.5rem;
  }

  .proyectos h2 {
    font-size: 1.5rem;
  }

  .proyecto {
    flex-direction: column;
    align-items: flex-start;
  }

  .imagen-proyecto {
    width: 80px;
    height: 80px;
  }

  .contacto p {
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 2.5rem;
  }

  nav ul li a {
    font-size: 1.3rem;
  }

  .sobre-mi h1 {
    font-size: 1.75rem;
  }

  .proyectos h2 {
    font-size: 1.75rem;
  }

  .proyecto {
    flex-direction: row;
  }

  .imagen-proyecto {
    width: 120px;
    height: 120px;
  }

  .contacto p {
    font-size: 0.85rem;
  }
}

@media (min-width: 769px) {
  header {
    padding: 3rem;
  }

  nav ul li a {
    font-size: 2rem;
  }
  .sobre-mi {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .sobre-mi h1 {
    font-size: 2rem;
  }

  .sobre-mi-texto {
    grid-column: 1 / -1;
  }

  .sobre-mi-texto h1 {
    font-size: 2rem;
  }

  .sobre-mi-texto p {
    font-size: 1rem;
  }

  .sobre-mi img {
    width: 426px;
    padding-left: 2rem;
    grid-column: 1 / -1;
    align-items: left;
  }

  .imagen-asterisco {
    width: 20px;
    height: 20px;
    border-radius: 0%;
    margin-top: 0px;
  }
  .proyectos {
    max-width: 1200px;
    margin: 0 auto;
  }

  .proyectos h2 {
    font-size: 2rem;
  }

  .proyecto {
    flex-direction: row;
  }

  .imagen-proyecto {
    width: 150px;
    height: 150px;
  }

  .contacto p {
    font-size: 1rem;
  }
}
