/* Media query para móviles */
@media (min-width: 768px) {
  /* Ajustes para el contenedor principal */
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .imagen-pefil {
    max-width: 20vh;
    margin-bottom: auto;
  }
  .cabesera {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-size: 1rem;
    color: rgb(213, 128, 0);
  }
  . {
    font-size: 1.8rem;
    text-align: center;
  }

  .container p {
    font-size: 0.9rem;
    text-align: center;
    max-width: 90%;
  }

  /* Proyectos */
  .projects {
    padding: 10px;
  }

  .project {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .project img {
    max-width: 130px;
    margin-bottom: 10px;
  }

  .project h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  .project p {
    font-size: 0.9rem;
    text-align: center;
    max-width: 90%;
  }

  /* Contacto */
  .contact {
    padding: 15px;
    font-size: 0.9rem;
  }

  .contact p {
    font-size: 0.9rem;
    text-align: center;
  }
}
