/* General Styles */

.cabesera {
  background-color: #381a06;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  margin-bottom: 0px;
  font-family: "Neue Haas Display", sans-serif;
  font-size: 2rem;
}
body {
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}
hr {
  border-color: #291203;
  border-width: 1px;
  margin: 2rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
h1 {
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 5rem;
}
.sobre-mi {
  text-align: left;
  padding: 1rem;
  color: #291203;
}
.imagen-asterisco1 {
  width: 15vw;
  height: 10vh;
  padding-left: 38vw;
}
div p {
  padding-left: 1.1em;
  padding-right: 2em;
}
h2 {
  text-align: right;
  color: #291203;
  padding-right: 0.5em;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 5rem;
}
.imagen-proyecto-zara {
  width: 280px;
  height: 350px;
  border-width: 3px;
  border-color: #291203;
}
.imagen-calima-gif {
  width: 75%;
  display: grid;
}
.Calima3img {
  width: 57%;
  display: grid;
}
.imagen-proyecto-isidro {
  width: 280px;
  border-color: #291203;
  border-width: 3px;
}
.imagen-sanisidro-gif {
  width: 80%;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.imagen-fomo {
  width: 280px;
  height: 350px;
  border-color: #291203;
  border-width: 3px;
}
.imagen-fomomgz-gif {
  width: 80%;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.proyectos {
  padding: 5rem;
}

h3 {
  text-align: left;
  font-family: "Neue Haas Display", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #291203;
}

.proyecto {
  margin-bottom: 5rem;
  display: flex;
  align-items: left;
  gap: 2rem;
}

h4 {
  text-align: left;
  color: #ffffff;
  padding-right: 0.5em;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 5rem;
  padding: 0.5em;
}
.contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacto {
  background-color: #291203;
  color: white;
  border: 50px;
  height: 100vh;
  display: row;
  flex-direction: flex;
}
.imagen-ast-contacto {
  width: 50vw;
  height: 50vh;
  padding-left: 22vw;
}
.info {
  text-align: center;
  color: #ffffff;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 2rem;
  padding-top: 2em;
  padding-right: 2em;
}

.contacto > p {
  text-align: right;
  color: #ffffff;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 2.5rem;
  padding-top: 2em;
  padding-right: 2em;
}
