/* General Styles */
@font-face {
  font-family: "Neue Haas Display";
  src: url("./fonts/Neue-Haas-Display.woff") format("woff");
  src: url("./fonts/Neue-Haas-Display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.cabesera {
  background-color: #381a06;
  max-width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  margin-bottom: 0px;
  font-family: "Neue Haas Display", sans-serif;
}
body {
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 100;
}
hr {
  border-color: #291203;
  border-width: 1px;
  margin: 2rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

h1 {
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 5rem;
}
.sobre-mi {
  text-align: left;
  padding: 1rem;
  color: #291203;
}
.imagen-asterisco1 {
  width: 15vw;
  height: 10vh;
  padding-left: 38vw;
}
div p {
  padding-right: em;
}
h2 {
  text-align: right;
  color: #291203;
  padding-right: 0.5em;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 5rem;
}
.imagen-proyecto-zara {
  width: 280px;
  height: 350px;
  border-width: 3px;
  border-color: #291203;
}
.imagen-calima-gif {
  width: 75%;
  display: grid;
}
.Calima3img {
  width: 57%;
  display: grid;
}
.imagen-proyecto-isidro {
  width: 280px;
  border-color: #291203;
  border-width: 3px;
}
.imagen-sanisidro-gif {
  width: 80%;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.imagen-fomo {
  width: 280px;
  height: 350px;
  border-color: #291203;
  border-width: 3px;
}
.imagen-fomomgz-gif {
  width: 80%;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.proyectos {
  padding: 5rem;
}

h3 {
  text-align: left;
  font-family: "Neue Haas Display", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #291203;
}

.proyecto {
  margin-bottom: 5rem;
  display: flex;
  align-items: left;
  gap: 2rem;
}


h4 {
  text-align: left;
  color: #ffffff;
  padding-right: 0.5em;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 5rem;
  padding: 0.5em;
}
.contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacto {
  background-color: #2b1303;
  color: white;
  border: 50px;
  height: 100vh;
  display: row;
  flex-direction: flex;
}
.imagen-ast-contacto {
  width: 50vw;
  height: 50vh;
  padding-left: 22vw;
}
.info {
  text-align: center;
  color: #ffffff;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 100;
  margin: 0;
  font-size: 2rem;
  padding-top: 2em;
  padding-right: 2em;
}

.contacto > p {
  text-align: right;
  color: #ffffff;
  font-family: "Neue Haas Display", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 2.5rem;
  padding-top: 2em;
  padding-right: 2em;
}

@media (max-width: 680px) {
  .cabesera {
    max-width: 100%;
    font-size: 1.5rem;
  }
  nav ul {
    flex-direction: row; 
    justify-content: space-around;
    text-align: left; /
  }
  nav ul li {
    margin-bottom: 1rem;
  }
  .imagen-perfil{
    width: 60vw;
    padding-bottom: 1em;
    padding-left: 17vw;
    padding-top: 1rem;
  
  }
  .imagen-asterisco1 {
    width: 25vw;
    padding-left: 35vw;
  
  }
 p{
  font-size: 1.5rem;
  text-align: center;
}
  h1,
  h2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  h3{
    text-align: center;
  }
  .imagen-proyecto-zara, .imagen-proyecto-isidro,.imagen-fomo{
  padding-left: 22vw;  
  }
  .imagen-calima-gif{
  width: 94vw;
  }
 
  .imagen-sanisidro-gif{
  width: 96vw;
  align-items: center;
  }
 
  .imagen-fomomgz-gif{
  width: 90vw;
  
  }
  .proyectos {
    padding: 1.5rem;
    align-items: center;
  }
  .imagen-ast-contacto {
    height: 20vh;
    padding-left: 25vw;
  }
  .info,
  .contacto > p {
    font-size: 3rem;
    padding: 1em;
    padding-top: 2em;
  }
}
@media (min-width: 681px) and (max-width: 950px){
  .cabesera {
    max-width: 100%;
    font-size: 2rem;
  }
  nav ul {
    flex-direction: row; /* Cambia a fila */
    justify-content: space-around; /* Asegura un espaciado adecuado */
    text-align: left; /
  }
  nav ul li {
    margin-bottom: 1.5rem;
  }
  .imagen-perfil{
    padding-bottom: 1em;
    padding-top: 1rem;
  }
  .imagen-asterisco1 {
    width: 25vw;
    padding-left: 35vw;
  }
 p{
  font-size: 2rem;
  text-align: left;
  }
  h1 {
    font-size: 4rem;
    text-align: left;
  }
 
  h2 {
    font-size: 4rem;
    text-align: right;
  }

  .proyecto1,.proyecto2, .proyecto3 {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .imagen-proyecto-zara, .imagen-proyecto-isidro, .imagen-fomo{
    align-items: center;
  }
  .proyecto1 div, .proyecto2 div, .proyecto3 div {
    padding-top: 1em;
    padding-left: 0em;
    padding-bottom: 1em;
  }
  .proyecto1 div h3 {
    padding-left: 0em;
    padding-top: 22vh;
  }
  .imagen-calima-gif{
    width: 94vw;
  }
  .proyecto2 div h3 {
    padding-left: 0em;
    padding-top: 25vh;
  }
  .imagen-sanisidro-gif{
    width: 96vw;
    align-items: center;
  }
  .proyecto3 div h3 {
    padding-left: 0em;
    padding-top: 22vh;
  }
  .imagen-fomomgz-gif{
    width: 90vw;
  }
  .proyectos {
    padding: 1.5rem;
    align-items: center;
  }
  .imagen-ast-contacto {
    height: 20vh;
    padding-left: 25vw;
  }
  .info,
  .contacto > p {
    font-size: 3rem;
    padding: 1em;
    padding-top: 2em;
  }
}
@media (min-width: 951px) and (max-width: 1200px){
  .cabesera {
    max-width: 100%;
    font-size: 2rem;
  }
  nav ul {
    flex-direction: row; /* Cambia a fila */
    justify-content: space-around; /* Asegura un espaciado adecuado */
    text-align: left; /
  }
  nav ul li {
    margin-bottom: 1.5rem;
  }
  .imagen-perfil{
    padding-bottom: 1em;
    padding-top: 1rem;
  }
  .imagen-asterisco1 {
    width: 25vw;
    padding-left: 35vw;
  }
 p{
  font-size: 2.2rem;
  text-align: left;
  }
  h1 {
    font-size: 4rem;
    text-align: left;
  }
 
  h2 {
    font-size: 4rem;
    text-align: right;
  }
  .proyecto1,.proyecto2, .proyecto3 {
    display: grid;
    grid-template-columns: 35% 65%;
  }
  .imagen-proyecto-zara, .imagen-proyecto-isidro, .imagen-fomo{
    align-items: center;
  }
  .proyecto1 div, .proyecto2 div, .proyecto3 div {
    padding-top: 1em;
    padding-left: 0em;
    padding-bottom: 1em;
  }
  .proyecto1 div h3 {
    padding-left: 0em;
    padding-top: 22vh;
  }
  .imagen-calima-gif{
    width: 94vw;
  }
  .proyecto2 div h3 {
    padding-left: 0em;
    padding-top: 25vh;
  }
  .imagen-sanisidro-gif{
    width: 96vw;
    align-items: center;
  }
  .proyecto3 div h3 {
    padding-left: 0em;
    padding-top: 22vh;
  }
  .imagen-fomomgz-gif{
    width: 90vw;
  }
  .proyectos {
    padding: 1.5rem;
    align-items: center;
  }
  .imagen-ast-contacto {
    height: 20vh;
    padding-left: 25vw;
  }
  .info,
  .contacto > p {
    font-size: 3rem;
    padding: 1em;
    padding-top: 2em;
  }
}
@media (min-width: 1201px) {
  .cabesera {
    max-width: 100%;
    font-size: 2.3rem;
  }
  nav ul {
    flex-direction: row; /* Cambia a fila */
    justify-content: space-around; /* Asegura un espaciado adecuado */
    text-align: left; /
  }
  nav ul li {
    margin-bottom: 2rem;
  }
  .imagen-perfil{
    padding-bottom: 1em;
    padding-top: 1rem;
  }
  .imagen-asterisco1 {
    width: 25vw;
    padding-left: 35vw;
  }

 p{
  font-size: 2.5rem;
  text-align: left;
  }

  h1 {
    font-size: 5rem;
    text-align: left;
  }
 
  h2 {
    font-size: 5rem;
    text-align: right;
  }
  h3{
    font-size: 4rem;
  }
  h4{
    font-size: 5rem;
  }
  .proyecto1,.proyecto2, .proyecto3 {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  .imagen-proyecto-zara {
    width: 400px;
    height: 470px;
    padding-left: 1rem;
  }
  .imagen-proyecto-isidro {
    width: 350px;
    height: 470px;
    padding-left: 1rem;
  }
  .imagen-fomo {
    width: 400px;
    height: 470px;
    padding-left: 1rem;
  }
  .proyecto1 div, .proyecto2 div, .proyecto3 div {
    padding-top: 1em;
    padding-left: 0em;
    padding-bottom: 1em;
  }
  .proyecto1 div h3 {
    padding-left: 0em;
    padding-top: 30vh;
  }
  .imagen-calima-gif{
    width: 94vw;
  }
  .proyecto2 div h3 {
    padding-left: 0em;
    padding-top: 32vh;
  }
  .imagen-sanisidro-gif{
    width: 96vw;
    align-items: center;
  }
  .proyecto3 div h3 {
    padding-left: 0em;
    padding-top: 30vh;
  }
  .imagen-fomomgz-gif{
    width: 90vw;
  }
  .proyectos {
    padding: 1.5rem;
    align-items: center;
  }
  .imagen-ast-contacto {
    height: 40vh;
    padding-left: 25vw;
  }
  .info,
  .contacto > p {
    font-size: 3rem;
    padding: 1em;
    padding-top: 3em;
  }
}
