/* styles.css */
body {
    font-family: Helvetica, Arial, sans-serif; /* Tipografía Helvetica */
    color: #001f3f; /* Azul marino */
    background-color: #f0f0f0; /* Fondo gris claro para contraste */
    margin: 0;
    padding: 20px;
}

h1, h2, h3, p {
    color: #001f3f; /* Color de texto Azul marino */
}

a {
    color: #0074D9; /* Color de enlaces un poco más claro */
    text-decoration: none;
}

a:hover {
    color: #001f3f; /* Color del enlace cuando el mouse está encima */
}
