* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./fonts/Neue-Haas-Display.woff") format("woff");
  src: url("./fonts/Neue-Haas-Display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Neue Haas Display", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  font-weight: 600;
  padding: 0;
}

header {
  position: fixed;
  background-color: #ffffff78;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 2rem;
}

.brand-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  margin-right: 2rem;
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #888;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover,
.nav-links li a:focus,
.nav-links li a.active {
  color: #000;
}

main {
  margin-top: 6rem; /* Asegura que el contenido no quede debajo del header */
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-description {
  width: 30%;
  height: 40%;
  padding-right: 1.25rem;
}

.project-description h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.project-description .subtitle {
  font-size: 1.5rem;
  color: #000;
}

.project-description p {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 0.625rem;
}

.project-description a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.hr {
  border-width: 1rem;
}
.images {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

img {
  object-fit: cover;
}

.image-row {
  display: flex;
  justify-content: space-between;
}

.image-row img {
  width: calc(33.333% - 1rem);
}

.image-big {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  background-color: #c2c2c2;
  padding: 3rem;
}

.image-big img {
  width: 50%; /* Ajusta el tamaño que desees */
  height: auto;
  object-fit: contain;
}

.image-profile {
  width: 65%;
}

.image-profile img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.contact-section {
  width: 100%;
  padding: 4rem 2rem;
}

.contact-section h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.contact-section .subtitle {
  font-size: 1.45rem;
  color: #888;
  margin-bottom: 2rem;
}

.contact-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-item {
  flex-basis: calc(33.333% - 1rem);
  margin-bottom: 1rem;
}

.contact-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact-item p {
  font-size: 1.25rem;
  color: #888;
}
/* TEMA OSCURO */
.nav-button {
  background: none;
  border: none;
  color: #888;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-left: 2rem; /* Agrega espacio entre el botón y los enlaces */
}

.nav-button:hover,
.nav-button:focus {
  color: #000;
}
body.dark-theme {
  background-color: #121212;
  color: #f1f1f1;
}

header.dark-theme {
  background-color: rgba(18, 18, 18, 0.78);
}

.nav-links li a.dark-theme {
  color: #f1f1f1;
}

.nav-links li a:hover,
.nav-links li a:focus,
.nav-links li a.active.dark-theme {
  color: #fff;
}

.project-description.dark-theme {
  color: #f1f1f1;
}

body.dark-theme .subtitle {
  color: #ffffff;
}

.images.dark-theme .image-row img {
  border: 2px solid #f1f1f1;
}

.contact-section.dark-theme {
  background-color: #222222;
}

.contact-section .subtitle.dark-theme {
  color: #f1f1f1;
}

body.dark-theme .image-big {
  background-color: #222222;
}

body.dark-theme .contact h3 {
  color: #f0f0f0; /* H3 más claro dentro de la sección de contacto */
}
.contact-item .dark-theme {
  color: #ffffff;
}

@media (min-width: 400px) and (max-width: 849px) {
  /* General */
  main {
    padding: 0 1rem;
  }
  header {
    padding: 1.5rem;
  }

  /* Secciones de descripción (para proyectos y sobre mí) */
  .project-description {
    width: 100%; /* Texto ocupará toda la pantalla */
    padding-right: 0;
    margin-bottom: 1.5rem;
  }

  .project-description p {
    font-size: 1.25rem; /* Ajustamos el tamaño del texto */
  }

  /* Imágenes */
  .images {
    width: 100%; /* Las imágenes ocuparán toda la pantalla */
  }

  .image-row {
    flex-direction: column; /* Cambiamos la dirección de las imágenes a columna */
  }

  .image-row img {
    width: 100%; /* Cada imagen ocupará el 100% del ancho disponible */
    margin-bottom: 1rem; /* Añadimos espacio entre las imágenes */
  }

  .image-big {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .image-big img {
    width: 100%; /* Imagen grande también ocupará todo el ancho */
  }

  /* Perfil (sobre mí) */
  .image-profile {
    width: 100%; /* Imagen de perfil ocupará todo el ancho */
    margin-bottom: 2rem;
  }

  .image-profile img {
    width: 100%; /* Imagen se ajustará al ancho completo */
  }

  /* Contacto */
  .contact-section {
    padding: 2rem 1rem; /* Reducimos padding para móviles */
  }

  .contact-columns {
    flex-direction: column; /* Columnas se apilan verticalmente */
  }

  .contact-item {
    flex-basis: 100%;
    margin-bottom: 2rem; /* Añadimos margen entre las secciones de contacto */
  }
}
/* Media queries para pantallas medianas (850px a 1700px) */
@media (min-width: 850px) {
  /* General */
  main {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-description {
    width: 30%;
    height: 40%;
    padding-right: 1.25rem;
  }

  .project-description h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .project-description .subtitle {
    font-size: 1.5rem;
    color: #000;
  }

  .project-description p {
    font-size: 1.5rem;
    color: #888;
    margin-bottom: 0.625rem;
  }

  .project-description a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
  }

  .images {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  img {
    object-fit: cover;
  }

  .image-row {
    display: flex;
    justify-content: space-between;
  }

  .image-row img {
    width: calc(33.333% - 1rem);
  }

  .image-big {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;

    padding: 3rem;
  }

  .image-big img {
    width: 50%; /* Ajusta el tamaño que desees */
    height: auto;
    object-fit: contain;
  }

  .image-profile {
    width: 65%;
  }

  .image-profile img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .contact-section {
    width: 100%;
    padding: 4rem 2rem;
  }

  .contact-section h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .contact-section .subtitle {
    font-size: 1.45rem;
    color: #888;
    margin-bottom: 2rem;
  }

  .contact-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-item {
    flex-basis: calc(33.333% - 1rem);
    margin-bottom: 1rem;
  }

  .contact-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .contact-item p {
    font-size: 1.25rem;
    color: #888;
  }
  .project-description {
    width: 100%; /* El texto ocupa todo el ancho */
    padding-right: 0;
    margin-bottom: 1.5rem;
  }

  .project-description p {
    font-size: 1.5rem; /* Tamaño de texto más grande para pantallas medianas */
  }

  /* Imágenes */
  .images {
    width: 100%; /* Las imágenes ocuparán todo el ancho */
    display: flex;
    flex-wrap: wrap; /* Las imágenes se alinean y envuelven si es necesario */
    gap: 1rem;
  }

  .image-row {
    width: 100%; /* El ancho de la fila de imágenes es completo */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Las imágenes se envuelven si es necesario */
  }

  .image-row img {
    width: calc(
      33.333% - 1rem
    ); /* Cada imagen ocupará un tercio de la fila con margen */
    margin-bottom: 1rem; /* Margen inferior entre las imágenes */
  }

  .image-big {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .image-big img {
    width: 50%; /* Imagen grande ocupará el 50% del ancho */
    height: auto;
    object-fit: contain;
    margin: 0 auto; /* Centrar imagen grande */
  }

  /* Perfil (sobre mí) */
  .image-profile {
    width: 50%; /* Imagen de perfil ocupará el 50% del ancho */
    margin: 2rem auto;
  }

  .image-profile img {
    width: 100%; /* Imagen se ajustará al ancho completo */
  }

  /* Contacto */
  .contact-section {
    width: 100%;
    padding: 3rem 2rem; /* Añadimos más padding para pantallas medianas */
  }

  .contact-columns {
    display: flex;
    justify-content: space-between;
  }

  .contact-item {
    flex-basis: calc(
      33.333% - 1rem
    ); /* Cada ítem de contacto ocupará un tercio */
    margin-bottom: 2rem;
  }
}
@media (min-width: 1700px) and (max-width: 1920px) {
  /* General */
  body {
    font-family: "Neue Haas Display", sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    font-weight: 600;
    padding: 0;
  }

  header {
    position: fixed;
    background-color: #ffffff78;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 2rem;
  }

  .brand-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: none;
    margin-right: 2rem;
    text-align: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 2.5rem;
  }

  .nav-links li a {
    text-decoration: none;
    color: #888;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

  .nav-links li a:hover,
  .nav-links li a:focus,
  .nav-links li a.active {
    color: #000;
  }

  main {
    margin-top: 6rem; /* Asegura que el contenido no quede debajo del header */
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-description {
    width: 30%;
    height: 40%;
    padding-right: 1.25rem;
  }

  .project-description h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .project-description .subtitle {
    font-size: 1.5rem;
    color: #000;
  }

  .project-description p {
    font-size: 1.5rem;
    color: #888;
    margin-bottom: 0.625rem;
  }

  .project-description a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
  }

  .images {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  img {
    object-fit: cover;
  }

  .image-row {
    display: flex;
    justify-content: space-between;
  }

  .image-row img {
    width: calc(33.333% - 1rem);
  }

  .image-big {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    padding: 3rem;
  }

  .image-big img {
    width: 50%; /* Ajusta el tamaño que desees */
    height: auto;
    object-fit: contain;
  }

  .image-profile {
    width: 65%;
  }

  .image-profile img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .contact-section {
    width: 100%;
    padding: 4rem 2rem;
    background-color: #f7f7f7;
  }

  .contact-section h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .contact-section .subtitle {
    font-size: 1.45rem;
    color: #888;
    margin-bottom: 2rem;
  }

  .contact-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-item {
    flex-basis: calc(33.333% - 1rem);
    margin-bottom: 1rem;
  }

  .contact-item h3 {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 0.5rem;
  }

  .contact-item p {
    font-size: 1.25rem;
    color: #888;
  }
}
